.button {
    -fx-background-color: linear-gradient(to bottom, #3498db, #2980b9);
    -fx-background-radius: 5;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
}

/* Hover effect for the button */
.button:hover {
    -fx-background-color: linear-gradient(to bottom, #2980b9, #3498db);
}/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

